<div class="sidebar">
<div class="sidebar">
  <div class="container sidebar-sticky">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
    <div class="sidebar-about">
      <h1>
      <h1>
        <a href="{{ site.baseurl }}">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
          {{ site.title }}
        </a>
        </a>
      </h1>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p class="lead">{{ site.description }}</p>
    </div>
    </div>
    <nav class="sidebar-nav">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">home</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">home</a>
      {% comment %}
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      {% endcomment %}
      {% assign pages_list = site.pages %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
          {% endif %}
        {% endif %}
        {% endif %}
      {% endfor %}
      {% endfor %}


      <a class="sidebar-nav-item" href="{{ site.github.repo }}">homework</a>

    </nav>
    </nav>
{% include social-media-links.html %}
{% include social-media-links.html %}
    <p>&copy; {{ site.time | date: '%Y' }} stacey tsui.</p>
    <p>&copy; {{ site.time | date: '%Y' }} stacey tsui.</p>
  </div>
  </div>
</div>
